* {
    margin:0;
    padding:0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.class-container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header .class-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    margin-bottom: 56px;
    padding: 16px 0 0;
    border-bottom: 1px solid blueviolet;
}

.class-submenu {
    top: 100%;
    left: 0;
    width: 300px;
    display: none;
    cursor: pointer;
    position: absolute;
    color: yellow;
    background-color: blueviolet;
}

.class-menu > li {
    padding: 12px;
    float: left;
    cursor: pointer;
    list-style: none;
    position: relative;
    border-top: 2px solid blueviolet;
    color: blueviolet;
}

.class-submenu li {
    padding: 12px;
    display: block;
}

.class-clear {
    clear: both;
}

.class-menu li:hover {
    color: yellow;
    background-color: blueviolet;
}

.class-menu li:hover .class-submenu {
    display: block;
    color: yellow;
    background-color: blueviolet;
}

.class-submenu li:hover {
    cursor: pointer;
    color: blueviolet;
    background-color: yellow;
}

.class-conteudos {
    display: grid;
    grid-template-columns: 70% 30%;
}

.class-lancamentos img {
    max-width: 100%;
}

.class-premiacoes {
    margin-bottom: 56px;
}

.class-premiacoes .class-depoimentos-fa a {
    font-size: 2em;
    display: flex;
}

.class-premiacoes .class-depoimentos-fa img {
    margin-right: 8px;
}

section h2 {
    margin-bottom: 32px;
}

aside {
    padding-left: 40px;
}

aside .class-depoimentos-fa {
    margin-bottom: 24px;
}

.class-depoimentos {
    display: grid;
    grid-template-columns:repeat(3, 32.6%);
    column-gap: 1%;
}

@media screen and (max-width: 767px) {

}