* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    overflow-x: hidden;
}

.container-papelaria {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header,
footer {
    padding-top: 12px;
    text-transform: uppercase;
    color: white;
    background-color: black;
}

header > .container-papelaria,
footer {
    padding-bottom: 12px;
    justify-content: space-between;
    align-items: center;
}

nav {
    padding: 12px 0;
    display: felx;
    color: black;
    background-color: darkgrey;
}

nav li {
    margin-right: 16px;
    font-size: 18px;
    list-style: none;
    display: inline;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a {
    text-decoration: none; 
    color: black;
}

nav li a:hover {
    padding: 12px 0;
    display: felx;
    color: darkgrey;
    background-color: black;
}

.menu-papelaria {
    width: 32px;
    cursor: pointer;
}

.container-flex {
    display: flex;
}

section {
    padding: 48px 0;
}

section h2,
.form-contatto {
    margin-bottom: 16px;
}

#id-sobre img {
    max-width: 60%;
    margin-right: 24px;
}

#id-sobre h2,
#id-produtos h2,
#id-contatto h2 {
    text-transform: uppercase;
    color: black;
}

.lista-produtos h3 {
    text-transform: uppercase;
    color: black;
}

.lista-produtos {
    flex-wrap: wrap;
}

.lista-produtos li strong {
    margin: 16px 0;
    font-style: italic;
    display: block;
}

.lista-produtos li {
    max-width: 30%;
    margin-bottom: 24px;
    list-style: none;
}

.lista-produtos li h3 {
    margin: 16px 0;
}

.lista-produtos img {
    max-width: 100%;
}

.item-papelaria-produtos {
    margin: 0 5%;
}

.lista-produtos li button,
#id-contato button {
    width: 100%;
    padding: 8px 0;
    font-size: 16px;
    display: block;
    border: none;
    font-weight: bold;
    cursor: pointer;
    color: black;
    background-color: darkgrey;
}

.lista-produtos li button:hover,
#id-contato button:hover {
    color: darkgrey;
    background-color: black;
}

form {
    max-width: 360px;
}

.form-contato label {
    font-weight: bold;
    display: block;
}

.form-contato input,
.form-contato textarea {
    padding: 8px;
    width: 100%;
    display: block;
}

.form-contato textarea {
    resize: none;
    height: 120px;
}

#id-footer img {
    max-height: 40px;
}

#id-footer li {
    margin: 12px;
    list-style: none;
}

footer .container-papelaria {
    justify-content: space-between;
    align-items: center;
}

@media only screen and (min-width: 641px) and (max-width: 1023px) {
  .lista-produtos li {
    max-width: 40%; 
    margin-right: 4%; 
  }
}

@media only screen and (max-width: 640px) {
  .lista-produtos li {
    max-width: 100%; 
    margin-right: 0; 
  }
}
